<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>control.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroServlet</servlet-name>
        <servlet-class>control.CadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCadastroServlet</servlet-name>
        <servlet-class>control.AlterarCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirContaServlet</servlet-name>
        <servlet-class>control.ExcluirContaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmeterPerguntaServlet</servlet-name>
        <servlet-class>control.SubmeterPerguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinguagemProgramacaoServlet</servlet-name>
        <servlet-class>control.LinguagemProgramacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinhasPerguntasServlet</servlet-name>
        <servlet-class>control.MinhasPerguntasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerguntasAbertasServlet</servlet-name>
        <servlet-class>control.PerguntasAbertasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerguntasResolvidasServlet</servlet-name>
        <servlet-class>control.PerguntasResolvidasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerguntasServlet</servlet-name>
        <servlet-class>control.PerguntasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerguntasLPServlet</servlet-name>
        <servlet-class>control.PerguntasLPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerguntaServlet</servlet-name>
        <servlet-class>control.PerguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmeterRespostaServlet</servlet-name>
        <servlet-class>control.SubmeterRespostaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespostasPerguntasServlet</servlet-name>
        <servlet-class>control.RespostasPerguntasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>codeRSLPServlet</servlet-name>
        <servlet-class>control.codeRSLPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcarMelhorRespostaServlet</servlet-name>
        <servlet-class>control.MarcarMelhorRespostaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcarPerguntaResolvidaServlet</servlet-name>
        <servlet-class>control.MarcarPerguntaResolvidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroServlet</servlet-name>
        <url-pattern>/CadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCadastroServlet</servlet-name>
        <url-pattern>/AlterarCadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirContaServlet</servlet-name>
        <url-pattern>/ExcluirContaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmeterPerguntaServlet</servlet-name>
        <url-pattern>/SubmeterPerguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinguagemProgramacaoServlet</servlet-name>
        <url-pattern>/LinguagemProgramacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinhasPerguntasServlet</servlet-name>
        <url-pattern>/MinhasPerguntasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerguntasAbertasServlet</servlet-name>
        <url-pattern>/PerguntasAbertasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerguntasResolvidasServlet</servlet-name>
        <url-pattern>/PerguntasResolvidasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerguntasServlet</servlet-name>
        <url-pattern>/PerguntasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerguntasLPServlet</servlet-name>
        <url-pattern>/PerguntasLPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerguntaServlet</servlet-name>
        <url-pattern>/PerguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmeterRespostaServlet</servlet-name>
        <url-pattern>/SubmeterRespostaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespostasPerguntasServlet</servlet-name>
        <url-pattern>/RespostasPerguntasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>codeRSLPServlet</servlet-name>
        <url-pattern>/codeRSLPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcarMelhorRespostaServlet</servlet-name>
        <url-pattern>/MarcarMelhorRespostaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcarPerguntaResolvidaServlet</servlet-name>
        <url-pattern>/MarcarPerguntaResolvidaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>Entire Site</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>auth</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login2.html</form-login-page>
            <form-error-page>/loginError2.html</form-error-page>
        </form-login-config>
    </login-config>-->
</web-app>
