<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>control.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroServlet</servlet-name>
        <servlet-class>control.CadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCadastroServlet</servlet-name>
        <servlet-class>control.AlterarCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirContaServlet</servlet-name>
        <servlet-class>control.ExcluirContaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmeterPerguntaServlet</servlet-name>
        <servlet-class>control.SubmeterPerguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinguagemProgramacaoServlet</servlet-name>
        <servlet-class>control.LinguagemProgramacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinhasPerguntasServlet</servlet-name>
        <servlet-class>control.MinhasPerguntasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroServlet</servlet-name>
        <url-pattern>/CadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCadastroServlet</servlet-name>
        <url-pattern>/AlterarCadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirContaServlet</servlet-name>
        <url-pattern>/ExcluirContaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmeterPerguntaServlet</servlet-name>
        <url-pattern>/SubmeterPerguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinguagemProgramacaoServlet</servlet-name>
        <url-pattern>/LinguagemProgramacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinhasPerguntasServlet</servlet-name>
        <url-pattern>/MinhasPerguntasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
